<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYDUNA</title>
    <meta name="description" content="Webpage">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header>
        <h1>LAYDUNA</h1>
    </header>

    <main>
        <div class = "info">
            <div class = "tone">
                <style>
                    :root {
                        --R: <%= closestColor.R %>;
                        --G: <%= closestColor.G %>;
                        --B: <%= closestColor.B %>;
                    }
                    .tone {
                        background-color: rgb(var(--R), var(--G), var(--B));
                    }
                </style>
                <div class = "text">
                    <h2><%= closestColor.name %></h2>
                    <h3>Foundation shade for you</h3>
                </div>
            </div>
    
            <div class="color-foundation">
                <div class="container-1">
                    <div class="c-01">
                        <span class="one">
                            01
                        </span>
                    </div>
    
                    <div class="c-02">
                        <span class="two">
                        02
                        </span>
                    </div>
    
                    <div class="c-03">
                        <span class="three">
                        03
                        </span>
                    </div>
        
                    <div class="c-04">
                        <span class="four">
                        04
                        </span>
                    </div>
                </div>
    
                <div class="container-2">
                    <div class="c-05">
                        <span class="five">
                            05
                        </span>
                    </div>
    
                    <div class="c-06">
                        <span class="six">
                            06
                        </span>
                    </div>
        
                    <div class="c-07">
                        <span class="seven">
                            07
                        </span>
                    </div>
    
                    <div class="c-08">
                        <span class="eight">
                            08
                        </span>
                    </div>
                </div>
    
                <div class="container-3">
                    <div class="c-09">
                        <span class="nine">
                            09
                        </span>
                    </div>
    
                    <div class="c-10">
                        <span class="ten">
                            10
                        </span>
                    </div>
    
                    <div class="c-11">
                        <span class="eleven">
                            11
                        </span>
                    </div>
    
                    <div class="c-12">
                        <span class="twelve">
                            12
                        </span>
                    </div>
                </div>
            </div>
            
        </div>

        <section class = image>
            <img src = "./img/captured_image.jpg" alt = "User Image">
        </section>
    </main>

</body>
</html>