body {
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-image: url("../img/makeup.jpg");
}

h1 {
    color: #000000;
    margin-left: 36px;
    font-size: 56px;
}

main {
    flex-direction: row;
}

section {
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-around;
}

.shade {
    width: 600px;
    height: 220px;
    color: #000000;
    background-color:  #c7c7c7;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 24px;
    margin-left: 32px;
}

h2 {
    font-size: 24px;
    margin-top: 0px;
}

h3 {
    font-size: 16px;
}

.range {
    width: 600px;
    height: 146px;
    color: #000000;
    background-color:  #c7c7c7;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 24px;
    margin-top: 32px;
    margin-left: 32px;
}

h4 {
    font-size: 24px;
    margin-top: 0px;
}

.image {
    width: 600px;
    height: 450px;
    color: #000000;
    background-color:  #c7c7c7;
    font-size: 24px;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 24px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
img {
    width: 350px;
    height: 350px;
    
}

h5 {
    font-size: 24px;
    margin-top: 0px;
}
